<footer class="footer-section bg-dark text-light text-center">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer-contact">
                    <h2>Links</h2>
                    <div class="contact-link-box">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'aboutus' %}">About us</a>
                    </div>
                </div>
            </div>
  
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="./index.html" class="footer-logo">
                        <h2>Player99</h2>
                    </a>
                    <p class="lead fs-6">
                      To take the gaming experienceto the next level.
                    </p>
                </div>
            </div>
  
            <div class="col-md-4 footer-col">
                <h2>Follow Us</h2>
  
                <div class="footer-social">
                    <a href="#">
                        <i class="fab fa-facebook fs-4"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter fs-4"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin-in fs-4"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram fs-4"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest fs-4"></i>
                    </a>
                </div>
                <a href="#" class="text-light fs-6">
                    <i class="fas fa-envelope mx-2"></i>
                    <span>Player99@gmail.com</span>
                </a>
            </div>
        </div>
        <div class="footer-info">
            <p>&copy; Copyright 2023 Player99 Store </p>
        </div>
    </div>
  </footer>
  