{% extends 'base.html' %}

<!-- Add link to Bootstrap core CSS and any custom stylesheets -->

{% block body %}
    <div class="container">
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>About Us</title>
            <style>
                body {
                    font-family: Arial, sans-serif;
                    {% comment %} margin: 20px;
                    padding: 20px; {% endcomment %}
                }
        
                {% comment %} h1 {
                    color: #333; {% endcomment %}
                
        
                p {
                    line-height: 1.6;
                    color: #666;
                }
            </style>
        </head>
        <body>
        
            <section>
            <div class="row dash-row-even">
                <div class="col-lg-6 mt-lg-0 mb-lg-0 mb-5 dash-photo-box">
                    <img src="https://media.gq-magazine.co.uk/photos/645b5c3c8223a5c3801b8b26/16:9/w_1280,c_limit/100-best-games-hp-b.jpg" class="dash-photo" alt="" srcset="">
                </div>
                <div class="col-lg-6 ps-5 pt-lg-3">
            <h1 class="h1-heading">Who are we?</h1>
            <p class="mt-4 dash-subtext"> Embark with us on a epic adventure with Player99 where gaming is not just a activity but an experience.
                Dive deep into an ever expanding universe where you have all the latest AAA games all at one place. With Player99 you will find more than just games. Discover and be part of vibrant community of developers, gamers and more. 
                </p>
                <p class="mt-4 dash-subtext">
                 At Player99 you are never alone. Connect with fellow gamers from all over the world and tackle multiplayer battles, cooperative quests and lively discussions.
                 Share tips, strategies and reviews of your favorite games.    
                </p>
                <p class="mt-4 dash-subtext">Rooted in a passion for gaming, we strive for excellence in every stitch,
                    promising games that not only meet but exceed expectations. Choose Player99 for a journey into the world of exclusive games
                    </p>
            </div>
            
            </section>
        
        
            <footer>
                <p>&copy; 2023 [@Player99]. All rights reserved.</p>
            </footer>
        
        </body>
        </html>
        
        </div>

{% endblock %}