{% extends 'base.html' %}

<!-- Add link to Bootstrap core CSS and any custom stylesheets -->

{% block body %}

<div class="container-fluid p-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images6.alphacoders.com/920/920991.jpg" class="d-block w-100 slider-img-size" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images6.alphacoders.com/134/1340252.jpeg" class="d-block w-100 slider-img-size" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://r4.wallpaperflare.com/wallpaper/266/92/997/elden-ring-from-software-4k-hd-wallpaper-58966d48d000fc68a0dc01ded892a4aa.jpg" class="d-block w-100 slider-img-size" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://r4.wallpaperflare.com/wallpaper/237/689/160/god-of-war-god-of-war-2018-god-of-war-4-kratos-wallpaper-c940784da13a9d9bd64788ff40c1567d.jpg" class="d-block w-100 slider-img-size" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>

<!-- Features Section -->

<section class="features">
  <div class="container">
      <!-- Odd row -->
      <div class="row dash-row-odd">
          <div class="col-lg-6 wish-text p-5 pe-lg-5">
    <h1 class="h1-heading">GO BEYOND GAMING </h1>
    <p class="mt-4 dash-subtext">All the latest Game's available.</p>
    <p class="mt-4 dash-subtext">Find your favorite games simply at the click of your mouse. Dive deep into the unlimited realm of gaming experience right away. Go Beyond Gaming.</p>
  </div>
  <div class="col-lg-6 mt-lg-0 mt-4 dash-photo-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/a/a7/God_of_War_4_cover.jpg" class="dash-photo" alt="" srcset="">
  </div>
      </div>
      <!-- Even Row -->
      <div class="row dash-row-even">
          <div class="col-lg-6 mt-lg-0 mb-lg-0 mb-5 mt-4 dash-photo-box">
              <img src="https://assetsio.reedpopcdn.com/best-free-games-2022.jpg?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp" class="dash-photo" alt="" srcset="">
          </div>
          <div class="col-lg-6 ps-5 pt-lg-3">
    <h1 class="h1-heading">FREE GAMES EVERY FRIDAY.</h1>
    <p class="mt-4 dash-subtext">Make your game nights even more fun</p>
    <p class="mt-4 dash-subtext">Login on every friday at our website to avail new free games over the weekend. Try them all.</p>
  </div>
      </div>
      <!-- Odd row -->
      <div class="row dash-row-odd">
          <div class="col-lg-6 wish-text p-5 pe-lg-5">
    <h1 class="h1-heading">ALL YOUR FAVORITE AAA TITLES</h1>
    <p class="mt-4 dash-subtext">Try the BIG! games before anyone.</p>
    <p class="mt-4 dash-subtext">Pre-book your favorite games before other and emjoy the spoiler-free gaming experience. Login in now!!!</p>
  </div>
  <div class="col-lg-6 mt-lg-0 mt-4 dash-photo-box">
              <img src="https://cdn.cloudflare.steamstatic.com/apps/csgo/images/csgo_react//cs2/header_ctt.png" class="dash-photo" alt="" srcset="">
  </div>
      </div>
      <!-- Even Row -->
      <div class="row dash-row-even">
          <div class="col-lg-6 mt-lg-0 mb-lg-0 mb-5 mt-4 dash-photo-box">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Rocket_League_coverart.jpg/640px-Rocket_League_coverart.jpg" class="dash-photo" alt="" srcset="">
          </div>
          <div class="col-lg-6 ps-5 pt-lg-3">
    <h1 class="h1-heading">3 HOUR REFUND POLICY</h1>
    <p class="mt-4 dash-subtext">Not satisfied with your game.</p>
    <p class="mt-4 dash-subtext">At Player 99 you get full refund with no questions ask if you don't like the game.</p>
  </div>
      </div>
  </div>
  
</div>

</section>


<section class="product" id="product">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div class="main-heading text-center">
                  <h1 class="pb-3 position-relative d-inline-block">COMING SOON</h1>
              </div>
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-sm-6 col-lg-4 mb-4">
              <a href="./productView.html" class="d-block text-center mb-4">
                  <div class="prodcut-list">
                      <div class="product-image position-relative">
                          <img src="https://m.media-amazon.com/images/M/MV5BYjM0MjRiNDctZWMyZS00NzQ4LThkMmEtMWI0NGRmMzNmZTU3XkEyXkFqcGdeQXVyMTA0MTM5NjI2._V1_FMjpg_UX1000_.jpg" alt="product" class="img-fluid d-block mx-auto">
                      </div>
                      <div class="product-name">
                          <div class="py-1">
                              {% comment %} <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star"></span> {% endcomment %}
                          </div>
                          <h4 class="text-capitalize">MUCK</h4>
                          {% comment %} <p class="mb-2 fs-5 text-danger">$400 </p>

                          <button type="button" class="btn btn-danger">Add To Cart</button> {% endcomment %}
                        </div>
                  </div>
              </a>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4">
              <a href="./productView.html" class="d-block text-center mb-4">
                  <div class="prodcut-list">
                      <div class="product-image position-relative">
                          <img src="https://m.media-amazon.com/images/M/MV5BNmNhM2NjMTgtNmIyZC00ZmVjLTk4YWItZmZjNGY2NThiNDhkXkEyXkFqcGdeQXVyODU4MDU1NjU@._V1_FMjpg_UX1000_.jpg" alt="product" class="img-fluid d-block mx-auto">
                      </div>
                      <div class="product-name">
                          <div class="py-1">
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star"></span>
                          </div>
                          <h4 class="text-capitalize">VALORANT</h4>
                          {% comment %} <p class="mb-2 fs-5 text-danger">$300 </p>

                          <button type="button" class="btn btn-danger">Add To Cart</button> {% endcomment %}
                        </div>
                  </div>
              </a>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4">
              <a href="./productView.html" class="d-block text-center mb-4">
                  <div class="prodcut-list">
                      <div class="product-image position-relative">
                          <img src="https://s.pacn.ws/1/p/u9/ghost-of-tsushima-544803.8.png?v=q6r3x5&width=800&crop=552,691" alt="product" class="img-fluid d-block mx-auto">
                      </div>
                      <div class="product-name">
                          <div class="py-1">
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star"></span>
                          </div>
                          <h4 class="text-capitalize">GHOST OF TSUSHIMA</h4>
                          {% comment %} <p class="mb-2 fs-5 text-danger">$350 </p>

                          <button type="button" class="btn btn-danger">Add To Cart</button> {% endcomment %}
                        </div>
                  </div>
              </a>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4">
              <a href="./productView.html" class="d-block text-center mb-4">
                  <div class="prodcut-list">
                      <div class="product-image position-relative">
                          <img src="https://m.media-amazon.com/images/M/MV5BMWU0Y2JhOGEtNzU4ZS00MTljLThhOWItYzA4ZTg0ZDU3MGQ0XkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_FMjpg_UX1000_.jpg" alt="product" class="img-fluid d-block mx-auto">
                      </div>
                      <div class="product-name">
                          <div class="py-1">
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star"></span>
                          </div>
                          <h4 class="text-capitalize">AMONG US</h4>
                          {% comment %} <p class="mb-2 fs-5 text-danger">$420 </p>

                          <button type="button" class="btn btn-danger">Add To Cart</button> {% endcomment %}
                        </div>
                  </div>
              </a>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4">
              <a href="./productView.html" class="d-block text-center mb-4">
                  <div class="prodcut-list">
                      <div class="product-image position-relative">
                          <img src="https://m.media-amazon.com/images/W/MEDIAX_792452-T2/images/I/71Wltf78aJL._AC_UF1000,1000_QL80_.jpg" alt="product" class="img-fluid d-block mx-auto">
                      </div>
                      <div class="product-name">
                          <div class="py-1">
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star"></span>
                          </div>
                          <h4 class="text-capitalize">EA FC 24</h4>
                          {% comment %} <p class="mb-2 fs-5 text-danger">$200 </p>

                          <button type="button" class="btn btn-danger">Add To Cart</button> {% endcomment %}
                        </div>
                  </div>
              </a>
          </div>

          <div class="col-sm-6 col-lg-4 mb-4">
              <a href="./productView.html" class="d-block text-center mb-4">
                  <div class="prodcut-list">
                      <div class="product-image position-relative">
                          <img src="https://i5.walmartimages.com/seo/Forza-Horizon-5-Microsoft-Xbox-One-Xbox-Series-X-Physical_20d4692a-43c9-47ec-ac1d-3e7022498c93.e999adf38af27a33290225eb14322f41.jpeg" alt="product" class="img-fluid d-block mx-auto">
                      </div>
                      <div class="product-name">
                          <div class="py-1">
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star active"></span>
                              <span class="ti-star"></span>
                          </div>
                          <h4 class="text-capitalize">FORZA HORIZON</h4>
                          {% comment %} <p class="mb-2 fs-5 text-danger">$350 </p>

                          <button type="button" class="btn btn-danger">Add To Cart</button> {% endcomment %}
                      </div>
                  </div>
              </a>
          </div>

      </div>
      
      <div></div>
  </div>
</section>

{% endblock %}
